.replayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.replayBtn {
  flex: 1;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: left;
  gap: 20px;
}